.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.contact__title {
  font-size: var(--size-2xl);
  color: var(--clr-light);
  text-transform: capitalize;
}

.contact__description {
  font-size: var(--size-sm);
  color: var(--clr-slate600);
  max-width: 60ch;
}

.contact__btn {
  font-size: var(--size-sm);
}

table {
  width: 800px;
  font-weight: 100;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px #0000001a;
  border-radius: 10px;
  font-size: medium;
}

th,
td {
  background-color: #ffffff33;
  padding: 15px;
  color: var(--clr-light);
}

th {
  text-align: left;
}

thead th {
  background-color: var(--clr-slate800);
}

tbody tr:hover {
  background-color: #ffffff4d;
}
tbody td {
  position: relative;
}

tbody td:hover::before {
  content: "";
  position: absolute;
  background-color: #ffffff33;
  left: 0;
  right: 0;
  top: -9999px;
  bottom: -9999px;
  z-index: -1;
}
.contact__map {
  display: flex;
  align-items: center;
  height: 300px;
  width: 800px;
  border: 1px solid red;
}
/* xxs */
@media (min-width: 325px) {
  table {
    width: 300px;
    font-size: small;
  }
}

/* xs */
@media (min-width: 475px) {
  .contact {
    gap: 1.5rem;
  }

  .contact__title {
    font-size: var(--size-3xl);
  }

  .contact__description {
    font-size: var(--size-base);
  }

  .contact__btn {
    font-size: var(--size-base);
  }
  table {
    width: 400px;
  }
}

/* sm */
@media (min-width: 640px) {
  table {
    width: 600px;
  }
}

/* m */
@media (min-width: 768px) {
  table {
    width: 700px;
  }
}

/* l */
@media (min-width: 1024px) {
  .contact__title {
    font-size: var(--size-5xl);
  }

  .contact__description {
    font-size: var(--size-xl);
  }

  .contact__btn {
    font-size: var(--size-xl);
  }
}

/* xl */
@media (min-width: 1280px) {
  .contact {
    gap: 2rem;
  }

  .contact__title {
    font-size: var(--size-3xl);
  }

  .contact__description {
    font-size: var(--size-base);
  }

  .contact__btn {
    font-size: var(--size-base);
  }
  table {
    width: 800px;
    font-size: medium;
  }
}

/* 2xl */
/* @media (min-width: 1536px) { }*/
