.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__title {
  font-size: var(--size-xs);
  font-weight: 400;
  color: var(--clr-slate600);
  text-transform: uppercase;
  letter-spacing: 0.2em;
  user-select: none;
}
.footer__ig {
  width: var(--size-7xl);
  height: var(--size-7xl);
}
